<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>This is KYUNGJUN KIM</h1>
      <h2><b>A</b> <span class="pro"><b>programmer</b></h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/kyungjun.png" width="250" height="310">
      <h2>History</h2>
        <div class="intro">
            <h3>From 2017</h3>
            <ul><a href="https://www.snu.ac.kr"><b>Seoul National University</b></a></ul>
            <ul>Major in Industrial Engineering</ul>
            <ul>Major in Economics</ul>
            <ul>Major in Liberal Studies</ul>
        </div>
    </div>
    <hr>
    <div class="skills">
      <h2>Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img", height="200">

        <h3>Design & Development</h3>
        <p>I am a student at Seoul National University majoring in Industrial Engineering and economics.
        This is my very first page to introduce myself. Hope you Enjoy!</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <p class="contact-message">About Me</p>
      <a class="btn" href="jun9894@snu.ac.kr">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://blog.naver.com/jun9894">Blog</a>
    <p class="copyright">© 2022 KYUNGJUN KIM @NAVER BlOG.</p>
  </div>
</body>
</html>